{% extends "base.html" %}

{% block title %}Parolă schimbată{% endblock %}

{% block content %}
    <div id="contact" class="main-banner justify-content-center">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 wow fadeIn" data-wow-duration="0.5s" data-wow-delay="0.25s">
                    <h1>Parolă schimbată</h1>
                    <br>
                    <p style="font-size: 15px;">Parola ta a fost schimbată cu succes.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}