{% extends 'base.html' %}

{% block title %}Restabilirea parole{% endblock %}

{% block content %}
    <div id="contact" class="contact-us main-banner justify-content-center">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 wow fadeIn" data-wow-duration="0.5s" data-wow-delay="0.25s">
                    <div class="section-heading left-content align-self-center ">
                        <h2>Resetarea parolei</h2>
                        {% if validlink %}
                            <p>Vă rugăm să introduceți noua parolă de două ori:</p>
                        {% else %}
                            <p>Link-ul de resetare a parolei a fost invalid, posibil pentru că a fost deja folosit. Vă rugăm să solicitați o nouă resetare a parolei.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if validlink %}
                <div class="row justify-content-center">
                    <div class="col-lg-8 wow fadeIn" data-wow-duration="0.5s" data-wow-delay="0.25s">
                        <form id="contact" action="." method="post">
                            <div class="row">
                                {% if form.errors %}
                                <div class="col-lg-12" style="color: #fe3f40;">
                                    <fieldset>
                                        <span>
                                            {% for field in form %}
                                            
                                                {% for error in field.errors %} 
                                                    <div class="alert alert-danger">
                                                        <strong>{{ error|escape }}</strong>
                                                    </div>
                                                {% endfor %}
                                            {% endfor %}
                                        </span>
                                    </fieldset>
                                </div>
                                <div class="col-lg-12" style="color: #fe3f40;">
                                    <fieldset>
                                        <span>
                                            {% for error in form.non_field_errors %}
                                                <div class="alert alert-danger">
                                                    <strong>{{ error|escape }}</strong>
                                                </div>
                                            {% endfor %}
                                        </span>
                                    </fieldset>
                                </div>
                                {% endif %}
                                
                                <div class="col-lg-6">
                                    <fieldset>
                                    <input type="password" name="new_password1" placeholder="Parola noua" autocomplete="off" required>
                                    </fieldset>
                                </div>
                                <div class="col-lg-6">
                                    <fieldset>
                                    <input type="password" name="new_password2"  placeholder="Repetati parola noua" autocomplete="off" required>
                                    </fieldset>
                                </div>
                                <div class="col-lg-6">
                                    <fieldset>
                                        {% csrf_token %}
                                        <button type="submit" id="form-submit" class="main-button">Schimbă</button>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                        
                    </div>
                </div>
                
            {% endif %}
        </div>
    </div>
{% endblock %}