{% extends 'base.html' %}

{% block title %}Restabilirea parolei{% endblock %}

{% block content %}
    <div id="contact" class="main-banner justify-content-center">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 wow fadeIn" data-wow-duration="0.5s" data-wow-delay="0.25s">
                    <h1>Resetarea parolei</h1>
                    <p>V-am trimis prin e-mail instrucțiuni pentru setarea parolei.</p>
                    <p>Dacă nu primiți un e-mail, vă rugăm să vă asigurați că ați introdus adresa la care v-ați înregistrat.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}